h1 {
 color: #c23232;
}

body {
 background-color: cornsilk;
}

body {
    font-family: Arial, sans-serif;
    background-color: cornsilk;
    color: #574b30;
    margin: 40px;
}

h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
}

h3 {
    text-align: left;
    font-size: 20px;
    margin-bottom: 40px;
}

.photo-entry {
    display: flex;
     align-items: center;
    margin-bottom: 30px;
}

.photo-entry img {
    width: 300px;
    height: auto;
    margin-right: 20px;
}

.photo-entry h2 {
    font-size: 25px;
    margin-top: 0;
}

.photo-entry p {
    font-size: 16px;
    line-height: 1.5;
}

a {
    color: #c23232;
    font-weight: bold;
}